/* GERAL */

body{
    font-family: 'Montserrat', sans-serif;
}


/* CABEÇALHO/NAVBAR */
header{
    align-items: center;
    background: #464F57;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.menu__lista{
    display: flex;
}

.menu__item{
    list-style: none;
}

.menu__link{
    color: #d4d3d3;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link:hover{
    text-decoration: underline;
}

.menu__item:hover{
    transform: scale(120%);
}
/* BREAK */


/* APRESENTAÇÃO (QUEM SOU EU) */
.apresentacao{
    background-color: #eceaea;
}

.apresentacao__content{
    width: 70%;
    margin: 0 auto;
    padding: 3rem 2rem 3rem;
}

.apresentacao__titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2rem;
}

.apresentacao__img{
    height: 9.3rem;
    float: left;
    padding-right: 2rem;
}

.apresentacao__content p{
    margin:  3rem 3rem 3.5rem;
    text-align: right;
    line-height: 2rem;
}
/* BREAK */


/* PROJETOS */
.projetos__content{
    width: 80%;
    margin: 0 auto;
    padding: 3rem;

}

.projetos__titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2rem;
}

.projetos__item{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
}
/* BREAK */


/* HABILIDADES */
.habilidades{
    background-color: #eceaea;
}

.habilidades__content{
    width: 70%;
    margin: 0 auto;
    padding: 3rem 2rem 3rem;
}

.habilidades__titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2rem;
}

.habilidades__img{
    height: 9.3rem;
    float: right;
    padding-left: 2rem;
}

.habilidades__content p{
    margin:  3rem 3rem 3.5rem;
    line-height: 2rem;
}


/* TECNOLOGIAS */
.tecnologias__content{
    width: 60%;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;    
}

.tecnologias__titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2rem;
}

.tecnologias__content ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.tecnologias__content img{
    height: 60px;
}
/* BREAK */


/* CONTATO */
.faca-contato{
    background-color: #eceaea;
}
.entre-em-contato{
    display: grid;
    place-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 3rem 2rem 3rem;
}

.entre-em-contato__titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.entre-em-contato p{
    text-align: center;
    margin:  2rem;
    line-height: 2rem;
}

.btn{
    margin-: 50%;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px 8px #464F57;
    transition: .3s;
}

.btn:hover{
    transform: scale(110%);
    cursor: pointer;
}
/* BREAK */


/* FOOTER */
footer{
    background-color: #464F57;
    margin-bottom: 0;
    text-align: center;
    padding: 2rem;
}

footer a{
    text-decoration: none;
    color: #eceaea;
    display: inline-block;
    padding-bottom: 1rem;
}

footer a:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer img{
    padding-left: 1rem;
}

footer p{
    text-decoration: none;
    color: #eceaea;
    padding-top: 1rem;
}
/* BREAK */